{% extends "base.html" %}


{% block main %}
    <div id="calendario"></div>
    <script>
        $(document).ready(function() {
            var calendar = $('#calendario').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek'
                },
                defaultView: 'month', // Vista inicial: mes
                events: [
                    // Aquí puedes añadir tus eventos
                ],
                lang: 'es', // Configuración del idioma a español
            });

            $('#btnMonth').on('click', function() {
                calendar.fullCalendar('changeView', 'month'); // Cambiar a vista de mes
            });

            $('#btnWeek').on('click', function() {
                calendar.fullCalendar('changeView', 'agendaWeek'); // Cambiar a vista de semana
            });
        });
    </script>
{% endblock %}
