{% extends "base.html" %}


{% block main %}

    <form id="formulario">
        <input id="titulo" type="text">
        <input id="fecha" type="date">
        <button class="btn btn-primary" id="btnAddEvento">Add event</button>
    </form>
    <div id="calendario"></div>
    <script>
        $(document).ready(function() {
            var calendar = $('#calendario').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek'
                },
                defaultView: 'month', // Vista inicial: mes
                events: [
                    // Aquí puedes añadir tus eventos
                ]

            });

            $('#formulario').submit(function(event) {
                event.preventDefault();

                var titulo = $('#titulo').val();
                var fecha = $('#fecha').val();

                calendar.fullCalendar('renderEvent', {
                    title: titulo,
                    start: fecha,
                    allDay: true
                });

                $('#formulario-evento').hide();
            });

            $('#btnAddEvento').on('click', function() {
                $('#formulario-evento').show();
            });
        });
    </script>
{% endblock %}
