{% extends "base.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="mb-3">
            <label for="password">New Password:</label>
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <label for="confirmation">Confirm your new password:</label>
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock %}