{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<form action="/register" method="post">
    <div class="mb-3">
        <label for="name">Name:</label>
        <input autocomplete="off" class="form-control mx-auto w-auto" id="name" name="name" placeholder="Name" type="text" required>
    </div>
    <div class="mb-3">
        <label for="surname">Surname:</label>
        <input autocomplete="off" class="form-control mx-auto w-auto" id="surname" name="surname" placeholder="Surname" type="text" required>
    </div>
    <div class="mb-3">
        <label for="username">Username:</label>
        <input autocomplete="off" class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required>
    </div>
    <div class="mb-3">
        <label for="password">Password:</label>
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required>
    </div>
    <div class="mb-3">
        <label for="confirmation">Confirm your password:</label>
        <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password" required>
    </div>
    <div class="mb-3">
        <label for="role">Select Role:</label>
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" id="user" value="user" required>
                    <label class="form-check-label" for="user">User</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" id="admin" value="admin" required>
                    <label class="form-check-label" for="admin">Admin</label>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}


