{% extends "base.html" %}


{% block main %}
<div class="container">
    {% if current_user.role_id == 1 %}
        <div class="col text-end" style="margin-bottom: 20px;">
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exportModal">Export</button>
        </div>
        <!-- Modal for export button -->
        <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exportModalLabel">Export Events</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/export_participants_by_title" method="POST">
                    <div class="modal-body">
                            <div class="mb-3">
                                <label for="eventTitle" class="form-label">Select Event Title</label>
                                <select class="form-select" id="eventTitle" name="eventTitle">
                                    <option value="none" class="italic" disabled selected><i>Select an event</i></option>
                                    {% set event_titles = [] %} <!-- to avoid repeting titles -->
                                    {% for e in events %}
                                        {% if e['title'] not in event_titles %}
                                            {% set _ = event_titles.append(e['title']) %}
                                            <option value="{{ e['title'] }}">{{ e['title'] }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Export</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">

        <!-- Add a container for the calendar -->
        <div id='calendar'></div>

        {% for event in events %}
        <!-- Modal -->
        <div class="modal fade" id="{{ event['modalId'] }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel_{{ event['modalId'] }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel_{{ event['modalId'] }}">{{ event['title'] }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p style="text-align: justify;">Description: {{ event['description'] }}</p>
                        <p style="text-align: justify;">Group: {{ event['groupName'] }}</p>
                        <p style="text-align: justify;">Maximum number of assistants: {{ event['n_assistants'] }}</p>

                        <!-- Show list of participants -->
                        <div style="text-align: justify;" id="participant-list_{{ event['modalId'] }}"></div>

                        <button class="btn btn-success" id="add_{{ event['modalId'] }}" onclick="addUserEvent('{{event['modalId']}}', '{{ user_id }}', '{{ event['n_assistants'] }}')">Add Me to Event</button>
                        <button class="btn btn-danger" id="delete_{{ event['modalId'] }}" onclick="deleteUserEvent('{{event['modalId']}}', '{{ user_id }}')">Delete from event</button>

                    </div>
                    <div class="modal-footer">
                        {% if current_user.role_id == 1 %}
                        <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical">...</i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><button class="dropdown-item" onclick="exportParticipants('{{ event['modalId'] }}')">Export</button></li>
                            <li><a class="dropdown-item" href="create-event?event_id={{ event['modalId'] }}">Edit</a></li>
                            <li><button class="dropdown-item" onclick="deleteEvent('{{ event['modalId'] }}')">Delete</button></li>
                        </ul>
                        {% endif %}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal-->
                        
            <script>
                $(document).ready(function() {
                    const user_id = "{{ user_id }}";
                    const event_id = "{{ event['modalId'] }}"; 
                    const max_participants = "{{ event['n_assistants'] }}";

                    function updateButtonState(event_id, user_id, max_participants) {
                        getNumberOfParticipants(event_id)
                        .then(number_of_participants => {
                            if (number_of_participants >= max_participants) {
                                $('#add_{{ event['modalId'] }}').hide(); 
                            } else {
                                $('#add_{{ event['modalId'] }}').show(); 
                            }

                            getParticipationStatus(event_id, user_id)
                            .then(participates => {
                                if (participates) {
                                    $('#add_{{ event['modalId'] }}').hide();
                                    $('#delete_{{ event['modalId'] }}').show();
                                } else {
                                    $('#delete_{{ event['modalId'] }}').hide();
                                }
                            });
                        });
                    }
                    // Initial call to update the button state when the page loads
                    updateButtonState(event_id, user_id, max_participants);

                    // Function to update the participant list
                    function updateParticipantList(event_id) {
                        // Make a request to get the participant list
                        fetch(`/get_participants/${event_id}`)
                            .then(response => response.json())
                            .then(participants => {
                                const participantList = document.getElementById('participant-list_{{ event['modalId'] }}');
                                const participantsHtml = participants.map(participant => `<li>${participant.name} ${participant.surname}</li>`).join('');
                                participantList.innerHTML = participantsHtml;
                                console.log(participants);
                            })
                            .catch(error => console.error('Error:', error));
                    }
                    // Call the function to update the participant list
                    updateParticipantList(event_id);
                });
            </script>
        {% endfor %}
    </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        events: {{ events|tojson }},
        eventDisplay: 'block',
        headerToolbar: {
            right: 'prev,next today',
            center: 'title',
            left: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
        },
        eventTimeFormat: { // like '14:30'
            hour: '2-digit',
            minute: '2-digit',
            meridiem: false,
            hour12: false
        },
        eventClick: function(info) {
            // Add your logic to display different modals based on the event
            if (info.event.extendedProps.modalId) {
                var modalId = info.event.extendedProps.modalId;
                var modal = document.getElementById(modalId);
                var modalInstance = new bootstrap.Modal(modal);
                modalInstance.show();
            }
        }
    });
    calendar.render();
});
</script>
{% endblock %}