{% extends "base.html" %}

{% block title %}
    Manage groups
{% endblock %}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Group Name</th>
                        <th scope="col">Users</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group_user_data in groups_with_users %}
                    <tr>
                        <td>{{ group_user_data['group'].name }}</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for user in group_user_data['users'] %}
                                <li style="text-align: justify; margin-left: 20px;">
                                    {{ user.name }} {{ user.surname }} ({{ user.username }})
                                    <button class="btn btn-danger btn-sm delete-x" onclick="deleteUser('{{ user.id }}', '{{ group_user_data['group'].id }}')">X</button> <!-- This works -->
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td style="width: 30%;">
                            <a class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#addUsersModal_{{ group_user_data['group'].id }}">Add Users</a>
                            
                            <!--Modal-->
                            <div class="modal fade" tabindex="-1" id="addUsersModal_{{ group_user_data['group'].id }}" role="dialog" aria-labelledby="exampleModalLabel_{{ group_user_data['group'].id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel_{{ group_user_data['group'].id }}">Add Users</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                            
                                        <form action="/add-user-group" method="post">
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label for="name">Group name:</label>
                                                    <input autocomplete="off" class="form-control mx-auto w-auto" id="name" name="name" placeholder="Name" type="text" value="{{ group_user_data['group'].name }}" readonly>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="selectUsers_{{ group_user_data['group'].id }}">Select Users:</label><br>
                                                    <select id="selectUsers_{{ group_user_data['group'].id }}" class="form-control" multiple="multiple" name="users[]">
                                                        {% for id, name, surname, username in all_users %}
                                                            <option value="{{id}}">{{name}} {{surname}} ({{ username }})</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <script>
                                                    $(document).ready(function() {
                                                        // Inicializa Select2 en el elemento select
                                                        $('#selectUsers_{{ group_user_data['group'].id }}').select2({
                                                            placeholder: 'Search for users...',
                                                            width: '100%'
                                                        });
                                                    });
                                                </script>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button class="btn btn-primary" type="submit">Add Users</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--end modal-->

                            <a class="btn btn-danger" type="button" onclick="deleteGroup('{{ group_user_data['group'].id }}')">Delete Group</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<a class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#createGroupModal">Create Group</a>

<!--Modal-->
<div class="modal fade" tabindex="-1" id="createGroupModal" role="dialog" aria-labelledby="createGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createGroupModalLabel">Create Group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/manage-groups" method="post" enctype="multipart/form-data">

            <div class="modal-body">
                <div class="mb-3">
                    <label for="name">Group name:</label>
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="fileUpload">Upload Excel File:</label>
                        <input type="file" id="fileUpload" name="fileUpload" accept=".xlsx, .xls">
                    </div>

                    <p>or</p>
                    <div class="mb-3">
                        <label for="selectUsers2">Select Users:</label><br>
                        <select id="selectUsers2" class="form-control" multiple="multiple" name="users[]">
                            {% for id, name, surname, username in all_users %}
                                <option value="{{id}}">{{name}} {{surname}} ({{ username }})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <script>
                        $(document).ready(function() {
                            // Inicializa Select2 en el elemento select
                            $('#selectUsers2').select2({
                                placeholder: 'Search for users...',
                                width: '100%'
                            });
                        });
                    </script>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit">Create Group</button>
            </div>

            </form>

        </div>
    </div>
</div>
<!--end modal-->

{% endblock %}